@page
@model EKay.Pages.DocumentoModel
@{
    ViewData["Title"] = "Su documento";
}


<script src="https://kit.fontawesome.com/a6df1c27d8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/botones.css" />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="width:70rem; padding:1rem;">
        <li class="breadcrumb-item"><a href="../Inicio">Cancelar</a></li>
    </ol>
</nav>
<form method="post" id="Documento" name="Documento" enctype="multipart/form-data">
    <div class="card" style="width: 70rem; height: auto;">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 60rem; height: 47rem">
                    <div class="card-body">

                        <div class="bg-text instruccion">
                            <label id="textoarchivo"for="archivo"><i class="fas fa-plus-circle"></i> &nbsp; Click aquí para cargar su documento.</label>
                            <input id="archivo" type="file" onchange="preview()" accept="application/pdf" name="ArchivoSubido" required/>
                        </div>
                        <iframe src="" width="100%" height="100%" id="previewer" style="border:none"></iframe>
                    </div>
                </div>
                <div class="card" style="width: 30rem; height: 47rem">
                    <!-- Pestañas -->
                    <div class="tab">

                        <href class="tablinks btnm text-light active" onclick="openCity(event, 'Datos del documento')">Datos del Documento</href>
                        <href class="tablinks btnm text-light" onclick="openCity(event, 'Envio')">Envio</href>
                    </div>


                    <div id="Datos del documento" class="tabcontent overflow-auto" style="display:block">
                        <h5>Datos del documento</h5>
                        <br />
                        <h6>Fecha creacion</h6>
                        <span class="text-danger" asp-validation-for="@Model.DocumentoRequest.FechaCreacion"></span>
                        <input name="FechaCreacion" type="date" class="form-control" role="textbox" asp-for="@Model.DocumentoRequest.FechaCreacion" placeholder="Fecha de Creación" required>
                        <br />
                        <h6>Autor</h6>
                        <span class="text-danger" asp-validation-for="@Model.AutorRequest.NombreA"></span>
                        <input name="NombreA" type="text" class="form-control" role="textbox" asp-for="@Model.AutorRequest.NombreA" placeholder="Nombre" required>
                        <br />
                        <span class="text-danger" asp-validation-for="@Model.AutorRequest.ApellidoA"></span>
                        <input name="ApellidoA" type="text" class="form-control" role="textbox" asp-for="@Model.AutorRequest.ApellidoA" placeholder="Apellido" required>
                        <br />
                        <span class="text-danger" asp-validation-for="@Model.AutorRequest.CorreoA"></span>
                        <input name="CorreoA" type="text" class="form-control" role="textbox" asp-for="@Model.AutorRequest.CorreoA" placeholder="Correo" required>
                        <br />
                        <h6>Remitente</h6>
                        <span class="text-danger" asp-validation-for="@Model.RemitenteRequest.NombreR"></span>
                        <input name="Nombre" type="text" class="form-control" role="textbox" asp-for="@Model.RemitenteRequest.NombreR" placeholder="Nombre" required>
                        <br />
                        <span class="text-danger" asp-validation-for="@Model.RemitenteRequest.ApellidoR"></span>
                        <input name="Apellido" type="text" class="form-control" role="textbox" asp-for="@Model.RemitenteRequest.ApellidoR" placeholder="Apellido" required>
                        <br />
                        <span class="text-danger" asp-validation-for="@Model.RemitenteRequest.CorreoR"></span>
                        <input name="Correo" type="text" class="form-control" role="textbox" asp-for="@Model.RemitenteRequest.CorreoR" placeholder="Correo" required>
                        <br />
                        @*<p>
                            Sube archivos:
                            <input type="file" name="ArchivoSubido" multiple" accept="application/pdf" />
                        </p>*@
                        @*<button type="submit" class="btnp" onclick="DocumentoRegistrar()">Registrar</button>*@
                    </div>

                    <div id="Envio" class="tabcontent">
                        <h4>Datos del firmante</h4>
                        <br />
                        <input name="NombreF" type="text" class="form-control" role="textbox" placeholder="Nombre" required>
                        <br />
                        <input name="ApellidoF" type="text" class="form-control" role="textbox" placeholder="Apellido" required>
                        <br />
                        <input name="CorreoF" type="text" class="form-control" role="textbox" placeholder="Correo Electronico" required>
                        <br />
                        @*<button style="border:none; background:none">
                        <i class="fas fa-plus-circle"></i>
                        Agregar firmante
                        </button>
                        <br />*@
                        <input name="TelefonoF" type="text" class="form-control" role="textbox" placeholder="Teléfono" required>
                        <br />
                        <input name="Puesto" type="text" class="form-control" role="textbox" placeholder="Puesto" required>
                        <br />
                        <input name="Organizacion" type="text" class="form-control" role="textbox" placeholder="Nombre de la organización" required>
                        <br />
                        <h4>Opciones del Documento</h4>
                        <br />
                        <input type="radio" id="clave" />
                        <label for="clave">Clave de acceso</label>
                        <br />
                        <br />
                        <input type="text" class="form-control" role="textbox" placeholder="Cree una clave de acceso">
                        <br />
                        <br />
                        <center>
                            <button type="submit" class="btnp" onclick="DocumentoEnviar()">Enviar</button>
                        </center>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <script>
        function DocumentoEnviar() {
            const url1 = "https://e-kay.somee.com/api/documento/";
            const url2 = "https://localhost:44321/api/documento/"
            const url3 = "https://localhost:44321/api/firmante/"
            const $formulario = document.querySelector('#Documento')
            
            //borre el createobject

            //const $label = document.querySelector('#mensaje')
            //function displayMessage(message) {
            //    if (message)
            //        $label.textContent = "Ohhh por dios funciono!!!"
            //    else
            //        $label.textContent = "Oh ohhh hay problemas en la matrix!!!"
            //}

            $formulario.addEventListener('submit', (e) => {
                e.preventDefault();

                //crear el formulario de documento                  si no estoy mal, un solo formulario tambien serviria(?).
                const dt = new FormData($formulario);
                //dt.set('contenido', '');
                //dt.set('nombreArchivo', '');
                //dt.set('ruta', '');
                //dt.set('tamanio', 0);
                //dt.set('extension', '');
                //dt.set('rutaBase', '');
                //dt.set('certificado', '');
                //dt.set('empresaId', 1);
                dt.set('RemitenteId', 1);
                dt.set('tipoDocId', 1);
                dt.set('carpetaId', 5);
                dt.set('FirmanteId', 1);

                console.log(JSON.stringify())


                //post a documento
                fetch(url2, {
                    method: 'POST',
                    body: dt,
                }).then(function (result) {
                    if (result.ok) {
                        alert("Documento registrado con exito.");
                    }
                    else {
                        alert("Ha habido un error en el registro del documento, error: " + result.status);
                    }
                })


                //crear el formulario de firmante
                const data = new FormData($formulario);
                data.set('documentoId', 5);
                console.log(JSON.stringify(data));

                //post a firmante
                fetch(url3, {
                    method: 'POST',
                    body: data,
                }).then(function (result) {
                    if (result.ok) {
                        alert("Firmante registrado con exito. El firmante ha recibido un correo electronico con el enlace para firmar este documento. Usted será redirigido a la pagina de inicio.");
                        //Devolver a la pagina de inicio cuando se envie el doc.
                        location.href = '/Inicio';
                    }
                    else {
                        alert("Ha habido un error en el registro del firmante, error: " + result.status);
                    }
                })

                
                    

            })
        }

        //He movido la funcion y los post para hacerlo en uno solo. Pulsar el boton de enviar hará los post en su debido orden.

        //function DocumentoEnviar() {
        //    const url1 = "https://e-kay.somee.com/api/documento/";
        //    const url2 = "https://localhost:44321/api/documento/"
        //    const url3 = "https://localhost:44321/api/firmante/"
        //    const $form = document.querySelector('#Documento')

        //    const $label2 = document.querySelector('#mensaje')
        //    function displayMessage(message) {
        //        if (message)
        //            $label.textContent = "Ohhh por dios funciono!!!"
        //        else
        //            $label.textContent = "Oh ohhh hay problemas en la matrix!!!"
        //    }

        //    $form.addEventListener('submit', (e) => {
        //        e.preventDefault();

        //    })
        //}
        
    </script>

    <script>

        function preview() {
            alert("Documento cargado con éxito.");
            var instruccion, src, previewer;
            previewer = document.getElementById("#previewer");
            instruccion = document.getElementsByClassName("instruccion");
            instruccion[0].style.display = "none";
            src = URL.createObjectURL(event.target.files[0]);
            $("#previewer").attr('src', src);
        }

        function dragOverHandler(ev) {
            console.log('File(s) in drop zone');

            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();
        }

        function openCity(evt, titulo) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(titulo).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>


}
